.study-section{
    display: grid;
    grid-template-columns: 4fr 2fr;
    /* grid-gap: 20px; */
     
}
.display-cart{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    background-color:#E5E5E5 
    
}
.profile-section{
     background-color:#E5E5E5 ;
     margin-left: 40px;
}
@media screen and (max-width:675px) {
    .display-cart{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .study-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
       
    }
   .profile-section{
   
    margin-left: 0px;
   
}
}
@media screen and (min-width:677px) and (max-width:777px){
.display-cart {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
     .profile-section{
        margin-left: 40px;
    }
}
